body{
    background-image:url(./Images/w3.png);
    height: 900px;
    background-size: cover; 
    background-repeat:round;
}

button{
    width: fit-content;
    margin-left: 30%;
    margin-top: 15px;
}

#Weather{
    height: 15%;
    width: 100%;   
}


.result{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: fit-content;
    width: fit-content;
    margin-left: 28%;
    margin-top: 20%;
    border-radius: 42px;
    border-style: outset;
    position: fixed;
    font-weight: bolder;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

input{
    font-variant:small-caps;
}



