body{
    background-image:url(./Images/w3.png);
    height: 1000px;
    background-size: cover; 
    background-repeat:round;
}

button{
    width: fit-content;
    margin-left: 37%;
    margin-top: 15px;
}

#Weather{
    height: 90px;
    width: 100%;
    margin-top: 4.3%;
}


.result{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: fit-content;
    width: fit-content;
    margin-left: 28%;
    margin-top: 20%; 
    border-radius: 42px;
    border-style: outset;
    position: fixed;
    font-weight: bolder;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

input{
    font-variant:small-caps;
}



img{
    width: 800px;
    height: 520px;
    margin-top: 40%;
    margin-left: 7%;
}

h1{
    position: fixed;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-style: oblique;
    color: black;
    background-color: rgb(228, 186, 142);
}





